.header {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* transform: translateX(10%); */
  z-index: 3;
  padding: 30px;
}

.main_logo {
  width: 130px;
  height: auto;
}

.signIn_button {
  margin-left: 5px;
  background-color: rgb(232, 0, 0);
  padding: 10px 10px;
  border-radius: 6px;
  outline: none;
  border: 0px;
  display: inline-flex;
  align-items: center;

  font-size: 0.9rem;
  font-weight: 200;
  color: white;

  cursor: pointer;
}

.buttons{
    display: flex;
}
