.row {
  /* margin-left: 2px; */
  color: white;
}

.row_title{
  padding-left: 16px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .row {
    margin-left: 3px;
    margin-top: 5px;
  }

  .row_title{
    font-size: 1.1rem;
    padding-left: 10px;
  }

  .row_posters {
    padding: 13px;
  }

  .row_poster {
    width: 100%;
    max-height: 90px;
    margin-right: 12px;
    transition: transform 450ms;
  }
  
  .row_posterLarge {
    max-height: 150px;
  }

}
